%input{ type: 'hidden', value: 'Clique checkout page', id: 'currentPageInput' }
- title(t("meta.pricing.title"))
- meta_tag(:description, t("meta.partnet_with_us.description"))
#checkout.full-width-container.is-paddingless{"data-controller": "payment", 'data-payment-user-email': current_user&.email }
  %h3.is-size-3.is-size-4-mobile.has-text-centered.m-b-lg= t("checkout.title")
  
  .container
    .columns.is-centered.is-marginless
      .column.is-10-tablet.is-12
        .columns.is-marginless.is-justified-center.m-t-md.p-t-lg.p-b-lg.is-paddingless-mobile.is-reversed-mobile
          .column.is-7.is-paddingless-mobile
            .column.is-8.is-paddingless-mobile.block
              .columns.is-multiline.is-mobile
                .column.has-text-centered 
                  = image_tag "cherapp-ownership-visa-card.svg"
                .column.has-text-centered
                  = image_tag "cherapp-ownership-amex-card.svg"
                .column.has-text-centered
                  = image_tag "cherapp-ownership-discover-card.svg"
                .column.has-text-centered
                  = image_tag "cherapp-ownership-maestro-card.svg"
            .has-shadow
              %div{'data-target': 'payment.formContainer'}
                .columns.is-mobile.is-marginless
                  .column.is-half.p-t-none.p-l-none.p-b-none
                    .field
                      %label.label{ for: 'firstName'}
                        = t('labels.first_name_titleized')
                      .control
                        %input.input.is-white.is-primary{placeholder: t("payment.full_name_placeholder"), type: 'text', value: current_user&.first_name, id: 'firstName' }
                  .column.is-paddingless
                    .field
                      %label.label{ for: 'lastName'}
                        = t('labels.last_name_titleized')
                      .control
                        %input.input.is-white.is-primary{placeholder: t("payment.full_name_placeholder"), type: 'text', value: current_user&.last_name, id: 'lastName' }
                .field
                  %label.label= t('checkout.card_number')
                  .control
                    #card-number
                .columns.is-mobile.is-marginless
                  .column.is-half.p-t-none.p-l-none.p-b-none
                    .field
                      %label.label= t('checkout.expiration_date')
                      .control
                        #card-expiry
                  .column.is-paddingless
                    .field
                      %label.label= t('checkout.cvc')
                      .control
                        #card-cvc
                - unless current_user
                  .field.m-t-md
                    %label.label= t('labels.email')
                    .control
                      %input.input.is-white.is-primary{placeholder: t("placeholders.type_your_email"), type: 'text', value: current_user&.email, id: 'email'}
              #card-errors.m-t-xs.is-size-6{role: "alert", "data-target": "payment.errorsContainer"}
              %button#submit.button.is-primary.is-fullwidth.m-t-lg.has-text-mint{"data-action": "payment#handleSubmit", "data-target": "payment.submitButton", "plan-type": params[:plan] }
                = t('checkout.complete_payment')
              .m-t-xs.is-size-6.has-text-centered{role: "alert", "data-target": "payment.sucessMessage"}
              %a.button.is-fullwidth.m-t-md.is-hidden.is-mint{ href: "#", "data-target": "payment.buttonContinue" }
                = t('payment.continue')
            %p.is-size-7.m-t-md.has-text-centered
              = t('checkout.note')
            .is-hidden-tablet{ 'data-controller': 'coupons' }
              %label.label{ for:  'promo_code', 'data-target': 'coupons.label'}
                I have a promo code
              %span.is-hidden.is-block{ 'data-target': 'coupons.succesMessage' }
                Promo code applied! You've received 50% off your first month of Cher® Clique Premium
              .field.has-addons.has-full-width-mobile{ 'data-target': 'coupons.inputWrapper' }
                %p.control.is-expanded.is-marginless
                  %input.input.is-primay.is-marginless{ id: 'promo_code', placeholder: 'Type your promo code', 'data-target': 'coupons.couponInput'}
                %p.control
                  %button.has-width-auto.has-height-auto.button.is-secondary.is-tag-secondary.has-regular-border.has-text-mint{ type: 'button', 'data-action': 'coupons#applyCoupon', 'data-input-target': 'couponInput2' }
                    = image_tag "cherapp-ownership-coborrowing-checkout-promo.svg"
              %p.help.is-danger.is-hidden{ 'data-target': 'coupons.errorMessage' }
                Invalid code
              %span.is-hidden{ 'data-target': 'coupons.notifier' }
                = 'Your code is only valid for one month'
          .column.is-1
          .column.is-centered.is-marginless.is-paddingless-mobile
            - if @plan == "premium"
              .card
                .card-content
                  .content
                    %h5.has-text-centered
                      %b
                        Clique Premium
                    %h5.has-text-centered{ style: 'color: blue;' }
                      %b
                        = "$#{@plans[:premium][:amount]}/month"
                    %p.is-flex.flex-wrap.is-justify-content-center.is-align-content-center
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Marketed as Preferred Agent to buyers
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Exclusive leads sent straight to your inbox
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Reach out directly to buyers you want (up to 5)
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Chat live in-app with buyers
                    .has-text-centered{ style: 'margin-top: 40px;' }
                      %button#showModal.button.is-dark.is-outlined.is-default Change this plan
            - if @plan == "pro"
              .card
                .card-content
                  .content
                    %h5.has-text-centered
                      %b
                        Clique Pro
                    %h5.has-text-centered{ style: 'color: blue;' }
                      %b
                        = "$#{@plans[:pro][:amount]}/month"
                    %p.is-flex.flex-wrap.is-justify-content-center.is-align-content-center
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Everything from Premium
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      %b
                        Guaranteed pre-qualified buyer letter 
                      in your first month
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      %b
                        Cheaper & Better ROI
                      than Zillow Premier Agent
                    .has-text-centered{ style: 'margin-top: 40px;' }
                      %button#showModal.button.is-dark.is-outlined.is-default Change this plan

#image-modal.modal
  .modal-background
  .modal-content.plan-selected-modal
    .card
      .card-content
        .content
          %h4.main-card-padding.has-text-centered.mb-16
            Change Clique Plan
          .columns
            .column.is-half
              .card.offer-highlight{ class: (@plan == "pro" ? "is-highlighted" : "") }
                %header.card-header
                  %p.card-header-title Limited time offer
                .card-content
                  .content
                    %h5.has-text-centered
                      %b
                        Clique Pro
                    %h5.has-text-centered{ style: 'color: blue;' }
                      %b
                        = "$#{@plans[:pro][:amount]}/month"
                    %p.is-flex.flex-wrap.is-justify-content-center.is-align-content-center
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Everything from Premium
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      %b
                        Guaranteed pre-qualified buyer letter 
                      in your first month
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      %b
                        Cheaper & Better ROI
                      than Zillow Premier Agent
            .column.is-half
              .card{ class: (@plan == "premium" ? "is-highlighted" : "") }
                .card-content
                  .content
                    %h5.has-text-centered
                      %b
                        Clique Premium
                    %h5.has-text-centered{ style: 'color: blue;' }
                      %b
                        = "$#{@plans[:premium][:amount]}/month"
                    %p.is-flex.flex-wrap.is-justify-content-center.is-align-content-center
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Marketed as Preferred Agent to buyers
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Exclusive leads sent straight to your inbox
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Reach out directly to buyers you want (up to 5)
                    %p
                      %i.fa.fa-check{ style: 'margin-right: 5px; padding-top: 5px;' }
                      Chat live in-app with buyers
          .columns.is-centered
            .column.is-5
              - if @plan == "premium"
                = button_to "Switch to Pro", customer_checkout_index_path, method: :get, params: { clique: "enabled", plan: "pro" }, class: "button is-primary is-centered is-default"
              - if @plan == "pro"
                = button_to "Switch to Premium", customer_checkout_index_path, method: :get, params: { clique: "enabled", plan: "premium" }, class: "button is-primary is-centered is-default"
  %button#image-modal-close.modal-close.is-large{"aria-label" => "close"}

:javascript
  var btn = document.querySelector('#showModal');
  var modalDlg = document.querySelector('#image-modal');
  var imageModalCloseBtn = document.querySelector('#image-modal-close');
  btn.addEventListener('click', function () {
    modalDlg.classList.add('is-active');
  });

  imageModalCloseBtn.addEventListener('click', function () {
    modalDlg.classList.remove('is-active');
  });
