%section.section.contact.is-paddingless-mobile.has-height-unset#contactUs
  .container
    .columns.is-marginless
      .column.is-8-tablet.is-7-desktop.is-6-widescreen.is-5-fullhd.is-paddingless-mobile
        .box.is-borderless.p-t-lg.p-b-lg
          .columns.is-centered.is-marginless.is-multiline.is-vcentered{ 'data-controller': "recaptcha" }
            = form_for(:contact_support, url: contact_supports_path, html: { 'data-action': 'submit->recaptcha#handleSubmit' } ) do |f|
              .column-is-10{'data-controller': 'city-state-selecter'}
                %h3.is-size-3.has-text-centered.is-marginless
                  = t('landing_page.contact_us').capitalize
                .field.has-text-left.m-t-md
                  = f.label :name, t('generic.name'), class: 'label'
                  .control
                    = f.text_field :name, placeholder: t('placeholders.your_name_here'), class: 'input', required: true, minlength: 3, maxlength: 30, value: current_user&.full_name
                .field.has-text-left
                  = f.label :email, t('generic.email'), class: 'label'
                  .control
                    = f.text_field :email, type: 'email', placeholder: t('placeholders.your_email'), class: 'input', required: true, minlength: 10, maxlength: 50, value: current_user&.email
                .field.has-text-left{ 'data-controller': 'calls' }
                  = f.label :phone, t('labels.phone'), class: 'label'
                  .control
                    = f.text_field :phone, placeholder: t('placeholders.phone_number'), id: 'phone', style: 'width: 230%;max-width:250%;', class: 'input', required: true, minlength: 10, maxlength: 13, value: current_user&.phone_number, 'data-target': 'calls.phoneNumber'
                    - if flash[:err_msg]
                      %p.help.is-danger.is-bold
                        = flash[:err_msg] + '. Please enter valid US Phone Number'
                .field.has-text-left
                  = f.label :city, t('generic.city'), class: 'label'
                  .control
                    = f.text_field :city, class: "input field is-marginless", required: true, placeholder: "#{t('placeholders.your_city')}",'data-controller': 'google-auto-complete-input', 'data-target': 'google-auto-complete-input.searchInput city-state-selecter.searchInput', 'data-action': 'keydown->city-state-selecter#setCity change->city-state-selecter#setCity', type: 'text', onDrag: "return false", onDrop: "return false", onPaste: "return false"
                    %p.help.is-danger{'data-target': 'city-state-selecter.errorMessage'}
                    #locationMapContainer.map.m-b-lg.is-relative


                %div.g-recaptcha{ 'data-sitekey': '6LfyMKUZAAAAAOQXGCDS96E6PUUrKRQ8BT9kLtni', 'data-callback': 'captchaCallback' }
                .field.is-expanded.m-t-md
                  = f.submit t('buttons.submit'), class: 'button is-primary is-fullwidth', 'data-target': 'city-state-selecter.submitButton process(event)'
            = render 'shared/contact_icons'
            = render 'shared/phone_input'