<!-- <div class="row">
  <div class="col-md-2">
    <h4> My Friends </h4>
    <div>
      <%#= turbo_stream_from "users" %>
      <div id="users">
        <%#= render @users %>
      </div>
    </div>
    <h4> My Groups </h4>
    <%#= render partial: "new_room_form" %>
    <div>
      <%#= turbo_stream_from "rooms" %>
      <div id="rooms">
        <%#= render @rooms %>
      </div>
    </div>
  </div>
  
<div class="col-md-10 bg-dark text-light">
    <%# if @single_room %>
      <h4 class="text-center"> <%#= @user&.first_name || @single_room.name %> </h4>
      <%#= turbo_stream_from @single_room %>
    <div id="messages">
    <%#= render @messages %>
    </div>
    <%#= render partial: "new_message_form" %>
  </div>
    <%# end %>
</div>
 -->

<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
<div id='friendmessage'>
    <!-- nav in left most section -->
    <section class="row mt-1">
      <!-- <nav class="col-md-1 sidebar p-0 nav-column">
        <ul class="p-0 mt-1 feed-top-sgm">
          <li class="side_li side_li_active feed">
            <a
              class="side-nav sidenav-txt f16 f-pcolor f400"
              href="/social_networks"
            >
              <i class="bi bi-columns-gap"></i>
              Feed</a
            >
          </li>

          <li class="side_li message">
            <a
              class="side-nav sidenav-txt ful-active f16"
              href="/social_networks/messages"
            >
              <i class="bi bi-chat-dots"></i>
              Message</a
            >
          </li>
          <li class="side_li network">
            <a class="side-nav sidenav-txt f16" href="/social_networks/network">
              <i class="bi bi-people"></i>
              Network</a
            >
          </li>
        </ul>
      </nav> -->

      <nav class="col-md-1 sidebar p-0 nav-column">
        <ul class="p-0 mt-1 feed-top-sgm">
          <li class="side_li feed">
            <a
              class="side-nav sidenav-txt f16 f-pcolor f400"
              href="/social_networks"
            >
              <i class="bi bi-columns-gap"></i>
              Feed</a
            >
          </li>

          <li class="side_li message ful-active">
            <!-- <a
              class="side-nav sidenav-txt f16"
              href="/social_networks/messages"
            > -->
            <a
              class="side-nav sidenav-txt f16"
              href="/rooms/index"
            >
              <i class="bi bi-chat-dots"></i>
              Message</a
            >
          </li>
          <li class="side_li network">
            <a class="side-nav sidenav-txt f16" href="/social_networks/network">
              <i class="bi bi-people"></i>
              Community</a
            >
          </li>
        </ul>
      </nav>
      <!-- left section nav ends -->

      <!-- messages section -->

      <div class="col-md-3 main-section p-0 m-0">
        <div class="top-head">
          <div class="top-sec p-2 d-flex justify-content-between p-2 mt-4">
            <div class="top-txt">
              <h4>Messages</h4>
            </div>
            <div class="top-icon">
              <!-- <img
                class="justify-content-end"
                src="images/messages/edit_image.png"
                alt=""
              /> -->
              <%= image_tag("myfriends/messages/edit_image.png", style:'display: inline-block;', class: 'justify-content-end') %>
            </div>
          </div>

          <div class="input-group-search">
          	<%= form_tag("/rooms/index", :method => "get") do %>
			<div
              class="input-box d-flex br-6 ml-2 mr-2 align-items-center border"
            >
            
              <%= image_tag("myfriends/messages/search_image.png", style:'display: inline-block;') %>
              <input
                type="text"
                class="form-control"
                name="identifier"
                id="inlineFormInputGroupUsername"
                placeholder="search"
              />
              
            </div>
            <% end %>
          </div>
          <div class="border-bottom bg-greys mt-2 main-cards">
            <div>
      			<%= turbo_stream_from "users" %>
      				<div id="users">
        				<%= render @users %>
      				</div>
    		</div>
          </div>
          <div class="border-bottom bg-greys mt-2 main-cards">
            <div class="top-txt">
              <h4>My Groups</h4>
            </div>
			    <%= render partial: "new_room_form" %>
			    <div>
			      <%= turbo_stream_from "rooms" %>
			      <div id="rooms">
			        <%= render @rooms %>
			      </div>
			    </div>
			  </div>
          <div class="card-head2">
            <p class="my-agent p-3">My Agents</p>
          </div>
          <% @agents.each do |agent| %>
          <div class="card bott-card p-3">
            <div class="card-contents d-flex">
              <div class="cardprofile-img">
                <%#= image_tag("myfriends/common_images/profile_image.png", style:'display: inline-block;', class: 'end-profile1') %>
                <%= image_tag(agent.profile_image, class: 'end-profile1', style:"height: 48px;width: 48px;border-radius: 50%;") %>
              </div>
              <div class="end-cardtxt ml-4">
                <p class="right-cardpro mb-0 pl-2"><%= agent.full_name %></p>
                <p class="right-cardtxt pl-2">Cher Prime Agent</p>
                <a href="#">
                  <button class="btn btn-primary card-bttn ml-2" type="submit">
                    Add To Group
                  </button>
                </a>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div> 
      <!-- messages section ends

      right section -->
      <div class="col-md-7 p-0">
        <div class="right-section">
        	<% if @single_room %>
          
          <div class="right-head d-flex bd-highlight border-bottom">
            <div class="right-headtxt p-2 flex-grow-1 bd-highlight">
              <p class="right-headtxt1 ml-3"><%= @user&.first_name || @single_room.name %></p>
            </div>

            <div class="head-icon p-2 bd-highlight mr-2">
              <%#= image_tag("myfriends/messages/group_profile_image.png", style:'display: inline-block;') %>
            </div>
          </div>
          
          <div class="rightsec-txt d-flex p-3">
            <div class="right-img">
              <%#= image_tag("myfriends/messages/card_profile_image_1.png", style:'display: inline-block;') %>
              <%= image_tag(current_user.profile_image, style:"height: 48px;width: 48px;border-radius: 50%;", alt: t('img_alts.user_profile'), class: 'main-profileimg', 'data-action': 'error->users-profile-picture#setDefaultPicture') %>
            </div>
            <div class="right-txt">
              <p class="right-paratxt">
                You started conversation with<span> <%= @user&.first_name || @single_room.name %></span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="today-head col d-flex">
              <div class="line1 col-md-5 align-self-center">
                <hr style="border-bottom: 1px solid #e9eaf0" />
              </div>
              <div class="mid-txt col-md-2 text-center">
                <p class="mb-0">Today</p>
              </div>
              <div class="line3 col-md-5 align-self-center">
                <hr style="border-bottom: 1px solid #e9eaf0" />
              </div>
            </div>
          </div>

          <div class="mid-section d-flex">
            <div class="midsec-txt">
              <p class="mid-paratxt p-3">You</p>
            </div>
            <div class="mid-small p-3">
              <small class="text-muted midsmall-txt">8:01 pm</small>
            </div>
          </div>
          <div class="mid-para" id="messages">
            <p class="mid-div">
            	<%= turbo_stream_from @single_room %>
		    <%= render @messages %>
		    </p>
          </div>
        </div>
        <div class="footer-box alm-input-box">
          <div class="input-group pl-5">
            

            <div class="form-group msg-form", style='width: 70%;'>
			  <%= form_with(model: [@single_room ,@message], remote: true, class: "d-flex", id: 'reset-form') do |f| %>
			    <%= f.text_field :content, id: 'chat-text', class: "form-control msg-content form-control2 bott-search", autocomplete: 'off' %>
			    
			</div>

            <div class="input-group-append">
              <span class="input-group-text bott-search-icon" id="basic-addon">
              	<%= image_tag("myfriends/messages/happy_image.png", style:'display: inline-block;') %>
            </span>
              <span class="input-group-text bott-search-icon" id="basic-addon">
              	<%= image_tag("myfriends/messages/document_image.png", style:'display: inline-block;') %>
            	</span>
              <div class="post-img">
                  <%= image_tag("myfriends/messages/submit_image.png", style:'display: inline-block;', type: 'submit', onclick: 'reset_form_function();', class: 'last-img pl-4') %>
                <%#= button_tag type: 'submit', class: "button my-button last-img pl-4", id: "register-button", onclick: 'reset_form_function();' do %>
			    <!-- <i class="far fa-paper-plane" aria-hidden="true"></i> -->
				<%# end %>
              </div>
            </div>
              <% end %>
          </div>
        </div>
        <% end %>
		</div>
		
        
      </div>
      <!-- <div class='col-md-10'>
        <h1 class="d-flex justify-content-center align-items-center" 
        style="height: 100vh;font-size: 3rem;">Under Development</h1>
      </div> -->
    </section>
</div>
<script type="text/javascript">
	function reset_form_function() {
  	document.getElementById("reset-form").reset();
}
</script>